@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');
$white: hsl(0, 0%, 100%); // Dark Mode Text & Light Mode Elements
$light-grey: hsl(0, 0%, 98%); // Light Mode Background
$dark-grey: hsl(0, 0%, 52%); // Light Mode Input
$dark-blue: hsl(200, 15%, 8%); // Light Mode Text

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
